@font-face {
    font-family: gamer;
    src: url('static/fonts/PressStart2P-Regular.ttf');
}


body {
    background-image: url('static/images/background.png');
    height: 200vh;
    color: white;
    font-family: gamer;
}


.mainText {
    margin-top: 33vh;
    font-style: italic;
}

h1 {
    font-size: 38px;
    background-color: rgb(25, 25, 25);
}

.bgg {
    background-color: rgb(32, 32, 32);
}

.bg {
    background-color: rgb(25, 25, 25);
}

.purple {
    color: rgb(214, 0, 255);
}

#scroll {
    margin-top: 120px;
    font-size: 15px;
}

#space {
    padding-top: 50px;
}

#gurl {
    font-size: 10px;
    padding-left: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
}

#t {
    width: 20%;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 0px;
}

.shh {
    font-size: 10px;
}

button {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin-bottom: 10px;
}

button img {
    width: 100px;
    height: auto;
}

.center {
    position: absolute;
    margin-top: 80vh;
}

.navbar {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    display: block;
    opacity: 1;
}